* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gotu', sans-serif;
}
body {
  background-image: url(./images/648300-PORQ48-148.jpg);
  background-repeat: repeat-y;
}
.section-search {
  margin-top: 20px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-title {
  margin-bottom: 15px;
}
.search-input {
  width: 250px;
  border-radius: 6px;
  height: 40px;
  font-size: 18px;
}
.search-btn {
  width: 90px;
  border-radius: 6px;
  height: 40px;
  background-color: rgb(133, 203, 235);
  cursor: pointer;
  font-size: 18px;
}
.main {
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  flex-direction: row-reverse;
}
.list-container {
  width: 65%;
}
.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.list-item {
  list-style: none;
  cursor: pointer;
}
.title-section-list {
  margin-bottom: 20px;
  margin-right: 5px;
  font-weight: bolder;
}
.serie-title {
  margin-bottom: 5px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.cross-icon {
  width: 20px;
  height: 20px;
}
.cross-icon:hover {
  width: 25px;
  height: 25px;
}
.image-container {
  padding-bottom: 20px;
}
.title-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}
.delete-all {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.delete-all:hover {
  width: 45px;
  height: 45px;
}
.favorites {
  background-color: rgb(206, 238, 253, 0.55);
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 35%;
  border-radius: 6px;
  padding-top: 10px;
}
.icon-favorite {
  width: 25px;
  height: 25px;
}

.list-item {
  margin-bottom: 20px;
}
.is-fav {
  background-color: rgba(7, 161, 151, 0.5);
  color: white;
}
