.main {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.main--series {
  width: 70%;
  margin-right: 25px;
}

.main--series__title {
  margin-bottom: 20px;
  margin-right: 5px;
  font-weight: 700;
  color: #a41623;
}

.main--series__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.main--series__list--item {
  list-style: none;
  cursor: pointer;
  position: relative;
}

.main--series__list--item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-right: 15px;
  margin-left: 10px;
  margin-top: 7px;
  color: #a41623;
}

.main--series__list--item__image {
  padding-bottom: 20px;
  border-radius: 5px;
}

.main--series__list--item__image :hover {
  -webkit-box-shadow: 13px 13px 20px 5px rgba(0, 0, 0, 0.75);
          box-shadow: 13px 13px 20px 5px rgba(0, 0, 0, 0.75);
}

.main--series__list--item__favorite-icon {
  width: 25px;
  height: 25px;
  margin-left: 15px;
}

.favorites {
  background-color: #a41623;
  opacity: 0.8;
  position: absolute;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  border-radius: 6px;
  padding-top: 10px;
}

.favorites--icon {
  width: 30px;
  height: 30px;
}

.favorites--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
  margin-bottom: 20px;
}

.favorites--container__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 5px;
  font-size: 22px;
  color: whitesmoke;
}

.favorites--delete-all {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.favorites--delete-all:hover {
  width: 45px;
  height: 45px;
}

.favorites--list-item {
  margin-bottom: 10px;
  list-style: none;
}

.favorites--list-item__title {
  margin-bottom: 10px;
  margin-right: 5px;
  font-weight: bolder;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 20px;
  color: whitesmoke;
}

.favorites--list-item__trash-icon {
  width: 20px;
  height: 20px;
}

.favorites--list-item__trash-icon:hover {
  width: 25px;
  height: 25px;
}

.is-fav__title {
  text-decoration: overline;
}

.is-fav__image {
  -webkit-box-shadow: 13px 14px 20px -3px #a41623;
          box-shadow: 13px 14px 20px -3px #a41623;
}

.image {
  border-radius: 5px;
  width: 200px;
}

.info-btn {
  background-color: red;
}

.info-container {
  display: none;
  position: absolute;
  top: 90px;
  z-index: 9999;
}

.moreInfo {
  background-color: rgba(164, 22, 35, 0.7);
}
/*# sourceMappingURL=main.css.map */